.hero-block {
    display: block;
    text-align: center;
}

.hero-block .hero-monitor {
    width: 279px;
    height: 400px;
    margin: 0 auto;
}

object.hero-image {
    display: block:
    padding: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

p.hero-tagline {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
