/* Definition lists */
dt {
    font-weight: bold;
}

/* Nested unordered lists */
.md-typeset ul {
    list-style-type: disc;
}

.md-typeset li ul {
    list-style-type: circle;
}

.md-typeset li ul li ul {
    list-style-type: square;
}

.md-typeset ul li ol {
    list-style-type: decimal;
}