/* Definition lists */
dt {
    font-weight: bold;
}

/* Nested unordered lists */
ul {
    list-style-type: disc;
    ul {
        list-style-type: circle;
        ul {
            list-style-type: square;
        }
    }
}