name: build-and-publish
on:
  push:
    branches:
      - main

env:
  NODE_VERSION: 20.x
  PYTHON_VERSION: 3.x

jobs:
  mkdocs-build-and-deploy:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js runtime
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          
      - name: Set up Node.js dependencies
        run: npm clean-install

      - name: Set up Python runtime
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Python dependencies
        run: |
          pip install mkdocs
          pip install mkdocs-material
          pip install mkdocs-macros-plugin

      - name: Build documentation
        run: |
          mkdocs build --clean
          mkdocs --version

      - name: Adjust permissions
        run: |
          chmod -c -R +rX site/ | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done
  
      - name: Upload to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: site
  
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
